*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}
h1 {
    color: #46484c;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
}
p {
    color: #8b8b8bcc;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
}
button {
    color: #fff;
    background-color: #025157;
    border-radius: 8px;
    height: 100%;
    border: none;
    padding: 6px 20px;
    margin-left: -10px;
}
input, button{
    height: 100%;
    border-radius: 8px;
}
form {
    height: 55px;
    margin-bottom: 40px;
}
/* Hasta aqui es programacion general */
/* Inicio de la programacion del header */
.fixed-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.header {
    margin: 40px 20px 0 20px;  
    font-size: 0;
    font-family: sans-serif;

}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
ul{
    margin: 16px 0;
    padding: 0 0  0 40px;
}
li {
    display: inline;
    font-size: 16px;
    font-family: sans-serif;
}
.logo {
    width: 15%;
    box-sizing: border-box;
}
.logo > img{
    height: 100%;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
}
.menu-item {
    display: inline;
    margin: 0 25px;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
}
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}
.actions a {
    color: #67b54b;
    margin-bottom: 40px;
}
.actions button {
    color: white;
    background-color: #67b54b;
padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}
/* fin de la programacion del header */
/* Inicia programacion del main */
main {
    text-align: center;
    margin-top: 185px;
    margin-bottom: 350px;
}
.main p{
    margin: 15px 0 16px;
}
.principal > input {
    height: 70%;
    border: 1px solid #b6b6b6; 
    padding: 2px 20px;
    width: 60%;
    max-width: 250px;
    border-radius: 5px;
}
.principal > button {
    height: 70%;
    background-color: #025157;
    color: #fff;
    border: none;
}
.principal > img {
    width: 600px;
    margin-top: 30px;
    margin-bottom: 70px;
}
/* Inicio seccion de anuncio con flexbox */
.promo {
    display: flex;
    max-width: 70%;
    margin: 100px auto;
    align-items: center;
}
.resource {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.resource img {
    width: 120px;
    margin-top: 10px;
}
.publish {
    /* container styles if any */
    margin-left: 20px;
    flex: 1;
}
.publish h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
form.signup-form { 
    font-size: 14px;
}
.publish >form {
    display: flex;
    height: 55px;
    margin-bottom: 20px;
}
.publish > form p {
    color: #025157;
    margin-right: 18px;
}
form.signup-form input{
    height: 70%;
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 250px;
    border: 5px;
}
form.signup-form button{
    background-color: #025157;
    color: #fff;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 6px 20px;
}
/* inicio de ejecicio prework */
.prework {
    z-index: -2;
    background-color: #77d18d;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.prework .information {
    flex: 2;
    padding-right: 100px;
}
.information h3 {
    text-align: left;
    font-family: "Alegreya",  serif;
    font-size: 65px;
    line-height: 1;
    font-weight: 800;
    color: #025157;
}
.information p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #343434;
    margin-bottom: 1rem;
}
.prework .information button{
    font-size: 14px;
    padding: 12px 12px 16px 12px;
    border-radius: 8px; 
    margin-left: 0;
    font-weight: 600;
    height: 45px;
}
.information figure{
    margin-top: 32px;
}
.information img {
    width: 500px;
    max-width: 100%;
}
.prework .profile {
    max-width: 370px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    flex: 1;
}
.profile{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: lightgray;
    background-clip: border-box;
    border: 1px solid #46484c;
    border-radius: 0.25rem;
    align-items: center;
}
.prework .profile .card-up  {
    position: relative;
}
.prework .profile .card-up figure{
    margin-top: 0;
    width: max-content;
}
.prework .profile .card-up figure > img {
    width: 100%;
    max-width: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profile .card-up .logo{
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .card-up .logo img {
    max-width: 75%;
    height: auto;
}
.prework .profile .card-body {
    flex: 1;
 }
 .prework .profile .card-body,
 .prework .profile .card-down{
    padding:  25px;
 }
.prework .profile .card-body h4{
    color: #025157;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: serif;
}
.prework .profile .card-body h3 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 400;
}
.prework .profile .card-body .results {
    display: flex;
    align-items: center;
    color: #46484c;
}
.prework .profile .card-body .results img {
    width: 26px;
    margin-bottom: 20px;
}
.prework .profile .card-body p {
    margin-top: 0;
    padding-left: 15px;
    font-size: 14pt;
}
.prework .profile .card-down{
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
}
.prework .profile .card-down  button{
    margin-left: 0;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}
/* Clase 4 work Zona de 4 cajas */
.features {
    display: grid;
    /* grid-template-columns: 300px 300px; */
    /* grid-template-columns: repeat(2, 300px); */
    /* grid-template-columns: 500px 1fr; */
    /* grid-template-columns: repeat(2, 330px);
    grid-template-rows: repeat(2, 1fr); */
    /* grid-template-rows:   1fr 1fr;
    grid-template-columns: 330px 330px; */
    grid-template: repeat(2,330px) / repeat(2, 1fr);
    background-color: #025157;
    padding: 5% 10%;
}
.feature-card {
    margin: 0 15px 30px 15px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid #46484c;
    align-items: center;
    overflow: hidden;
    display: flex;
}
.feature-card .feature-content{
    align-self: right;
    padding: 30px 20px 40px 40px;
    flex: 2
}
.feature-card .feature-content figure{
    margin-top: 20px;
    margin-bottom: 6px;
    border: none;
    border-radius: 50%;
    background-color: rgba(221, 221, 221, 0);
    width: fit-content;
}
.feature-card .feature-content figure > img {
    align-content: center;
    width: 60px;
}
.feature-card .feature-content h3{
    color: #46484c;
    font-family:'Lucida Sans Regular', Verdana;
    text-align: left;
    line-height: 1;
    padding-top: 8px;
    font-size: 16pt;
}
.feature-card .feature-content p{
    color: #b6b6b6;
    font-family: 'Lucida Sans Regular', Verdana;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 5px;
    line-height: 1.25;
    font-size: 14pt;
}
.feature-card .feature-content a{
    font-family: Arial;
    font-size: 12pt;
    line-height: 1;
    text-align: left;
    color: #67b54b;
    padding-top: 15px;
}
.feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}
.feature-card .feature-image figure{
    margin-top: 0;
    height: 100%;
}
.feature-card .feature-image figure>img{
    margin-top: 0;
    height: 100%;
}
