body {
    background-color: #fff;
}
h1 {
    color: #46484c;
    text-align: center;
}
p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}
button {
    color: #fff;
    background-color: #416e30;
    padding: 12px 14px;
    border-width: 0px;
    border-radius: 10px;
}
.header {
    margin: 14px 12px;
    font-size: 0%;
    line-height: 45px;
}
li {
    display: inline;
}
 /* todos los "hijos" del header */
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.logo {
    width:15%;
}
.navbar {
    width: 70%;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-family: 80px;
}
.navbar > *{
    padding: 0px;
    margin-left: 15px;
    margin-inline-start: 50px;

}
.actions {
    width: 15%;
    text-align: right;
    font-size: 15px;
    line-height: 15px;
    color: #67b54b;
}

.actions > * {
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
}
